<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin - Mercadona project - Dennis Santillan</title>
        <link rel="shortcut icon" href="/images/app/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
        <link href="/css/admin.css" rel="stylesheet">
    </head>
    <body>
        <div th:replace="~{back/components/icons-list}"></div>
        <header th:replace="~{back/components/header}"></header>

        <div class="container-fluid">
            <div class="row holder">
                <div th:replace="~{back/components/sidebar}"></div>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="toast show align-items-center float-end mt-3" th:classappend="${'bg-' + message.type}" role="alert" aria-live="assertive" aria-atomic="true" th:if="${message}">
                        <div class="d-flex">
                            <div class="toast-body text-white" th:text="${message.text}"></div>
                            <button type="button" class="btn-close me-2 m-auto bg-white" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>

                    <th:block th:switch="${page}">
                        <th:block th:case="'dashboard'">
                            <div th:replace="~{back/dashboard}"></div>
                        </th:block>
                        <th:block th:case="'products'">
                            <div th:replace="~{back/products}"></div>
                        </th:block>
                        <th:block th:case="'product-form'">
                            <div th:replace="~{back/forms/product-form}"></div>
                        </th:block>
                        <th:block th:case="'categories'">
                            <div th:replace="~{back/categories}"></div>
                        </th:block>
                        <th:block th:case="'category-form'">
                            <div th:replace="~{back/forms/category-form}"></div>
                        </th:block>
                        <th:block th:case="'promotion-form'">
                            <div th:replace="~{back/forms/promotion-form}"></div>
                        </th:block>
                        <th:block th:case="'users'">
                            <div th:replace="~{back/users}"></div>
                        </th:block>
                        <th:block th:case="'user-form'">
                            <div th:replace="~{back/forms/user-form}"></div>
                        </th:block>
                    </th:block>
                </main>

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="/js/admin.js"></script>

    </body>
</html>
