<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Nouveau Produit</h1>
</div>

<form th:action="${product == null ? '/admin/product/new' : '/admin/product/edit/' + product.productId}" method="post">
  <div class="mb-3">
    <label for="product-name" class="form-label">Nom du produit</label>
    <input type="text" class="form-control" id="product-name" name="product-name" th:value="${product != null ? product.productName : ''}" required>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="description" id="description" cols="85" rows="3" maxlength="250" class="form-control"
              th:text="${product != null ? product.getDescription() : ''}" required></textarea>
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Catégorie</label>
    <select class="form-select" name="category" id="category" required>
      <option th:each="category : ${categories}" 
              th:text="${category.getCategoryName()}"
              th:selected="${product != null && category.categoryId == product.category.categoryId}"
              th:value="${category.getCategoryId()}"></option>
    </select>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <th:block th:if="${product == null}">
      <input type="text" class="form-control" id="image" placeholder="(Ajout des images temporairement désactivée)" disabled>
    </th:block>
    <th:block th:if="${product != null}">
      <th:block th:if="${product.getImage().isEmpty()}">
        <input type="text" class="form-control" id="image" placeholder="(Édition des images temporairement désactivée)" disabled>
      </th:block>
      <th:block th:if="${!product.getImage().isEmpty()}">
        <input type="text" class="form-control" id="image" th:value="${product.getImage()}" disabled>
      </th:block>
    </th:block>

  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Prix</label>
    <input type="number" step="0.01" min="0.01" class="form-control" id="price" name="price" th:value="${product != null ? product.getPrice() : ''}" required>
  </div>
  <button type="submit" class="btn btn-success">Enregistrer</button>
</form>