<header class="d-flex flex-wrap align-items-center justify-content-between p-3 border-bottom">
  <div class="col-md-8 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img th:src="@{/images/app/logo-mercadona.svg}" alt="Logo">
    </a>
  </div>

  <div class="col-md-4 text-end" th:if="${userLoggedIn}">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="username" th:text="${connectedUser.userName}"></span>
      </button>
      <ul class="dropdown-menu">
        <th:block th:if="${connectedUser.role.roleName == 'ADMIN'}">
          <li><a class="dropdown-item" th:href="@{/admin}">Gestion Administrateur</a></li>
        </th:block>
        <li><a class="dropdown-item" th:href="@{/logout}">Déconnexion</a></li>
      </ul>
    </div>
  </div>
</header>