<h1 class="page-title" th:if="${category != null}">
  <span th:if="${category.getCategoryName() != null}" th:text="${category.getCategoryName()}"></span>
  <span th:if="${category.getCategoryName() == null}">Welcome</span>
</h1>
<h1 class="page-title" th:if="${category == null}">Nos Produits</h1>

<div th:each="product : ${products}" class="product-cell p-1 col-6 col-sm-4 col-md-3">
  <!-- Product card -->
  <div class="card">
    <div class="card-header p-0 border-0 position-relative">
      <div th:if="${product.getPromotion()} != null" class="promo-tag">
        <span th:text="'- ' + ${product.getPromotion().getDiscountPercentage()} + '%'"></span>
      </div>
      <img class="card-img-top"
           th:src="${product.getImagePath()}"
           alt="image de l'article">
      <div th:if="${product.getPromotion()} != null" class="promo-valid">
        <span th:text="'Valable du ' + ${#temporals.format(product.getPromotion().getStartDate(), 'dd MMM')} + ' au ' + ${#temporals.format(product.getPromotion().getEndDate(), 'dd MMM yyyy')}"></span>
      </div>
    </div>

    <div class="card-body p-1">
      <h5 class="title" th:text="${product.getProductName()}"></h5>
      <span class="description" th:text="${product.getDescription()}"></span>
      <h5>
        <strong th:if="${product.getPromotion() == null}" class="price" th:text="${product.getFormattedPrice()}"></strong>
        <strong th:if="${product.getPromotion() != null}" class="price promo-price" th:text="${product.getPriceAfterPromotion()}"></strong>
        <span th:if="${product.getPromotion() != null}" class="before-price" th:text="${product.getFormattedPrice()}"></span>
      </h5>
    </div>
  </div>
  <!-- End product card -->

</div>