html, body {
    height: 100vh;
}
@media (768px <= width) {
    .container-fluid, .holder {
        height: calc(100vh - 60px);
    }
}

.username {
    text-transform: capitalize;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.sidebar-heading {
    font-size: .75rem;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.toast{
    position: absolute;
    right: 10px;
}

.no-wrap {
    white-space: nowrap;
}

/* Cards borders */
.left-border-primary {
    border-left: 0.25rem solid #4e73df!important;
}
.left-border-success {
    border-left: 0.25rem solid #1cc88a!important;
}
.left-border-warning {
    border-left: 0.25rem solid #f6c23e!important;
}

/* Cards icons */
.bi-big {
    width: 2em;
    height: 2em;
    color: #00000044;
}