<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Tableau de bord</h1>
</div>

<div class="row">

  <!-- Products Card -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card left-border-primary shadow h-100">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Produits
            </div>
            <div class="h5 mb-0">Total: <span th:text="${products.total}"></span></div>
            <div class="h6 mb-0">Avec promo: <span th:text="${products.withPromo}"></span></div>
            <div class="h6 mb-0">Sans promo: <span th:text="${products.withoutPromo}"></span></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
      <a th:href="@{/admin/products}">
        <div class="border-0 btn btn-primary card-footer w-100">
          Voir les produits
        </div>
      </a>
    </div>
  </div>

  <!-- Categories Card -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card left-border-success shadow h-100">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Catégories
            </div>
            <div class="h5 mb-0">Total: <span th:text="${categories.total}"></span></div>
            <div class="h6 mb-0">Vides: <span th:text="${categories.notFull}"></span></div>
            <div class="h6 mb-0">Utilisées: <span th:text="${categories.full}"></span></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
      <a th:href="@{/admin/categories}">
        <div class="border-0 btn btn-success card-footer w-100">
          Voir les catégories
        </div>
      </a>
    </div>
  </div>

  <!-- Users Card -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card left-border-warning shadow h-100">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Utilisateurs
            </div>
            <div class="h5 mb-0">Total: <span th:text="${users}"></span></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
      <a th:href="@{/admin/users}">
        <div class="border-0 btn btn-warning card-footer w-100">
          Voir les utilisateurs
        </div>
      </a>
    </div>
  </div>
</div>